.align-embol{
  padding-left: 30px;
}
.next-arrow{
  border-left: 25px solid #D9D9D9;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  top: 50%;
  right: 5px;
}