.contacts{
  width: 100vw;
  height: 100vh;
  background-color: #282727;
  h5{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
  }
  .btn-group{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
  }

  .contactContain{
    max-height: 60vh;
    overflow: auto;
    margin: 30px auto ;
    width: 90%;
  }
  .contact-table{
    width: 99%;
    background: #ffffff;;
    thead{
      background: #270c0d; /* Old browsers */
      background: -moz-linear-gradient(top, #270c0d 0%, #722528 7%, #cd2d31 45%, #cd2d31 45%, #5b1210 92%, #270c0d 99%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #270c0d 0%,#722528 7%,#cd2d31 45%,#cd2d31 45%,#5b1210 92%,#270c0d 99%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #270c0d 0%,#722528 7%,#cd2d31 45%,#cd2d31 45%,#5b1210 92%,#270c0d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#270c0d', endColorstr='#270c0d',GradientType=1 ); /* IE6-9 */

      color: #ffffff;
      text-transform: uppercase;
      padding: 5px;
    }
    tbody{
      tr{
        td{
          padding: 10px;
          border: 1px solid #818282;
        }
      }
    }
  }
}
.cocacolatable{

  &::after{
    content: "";
    clear: both;
  }
  .contact-table{
    width: 100% !important;}
}